@import "/css/reset.css";

*/ html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
  left: 0;
  right: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
textarea,
button,
select {
  color: inherit;
  font-family: inherit;
  letter-spacing: inherit;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
}

input,
textarea,
button {
  border: 1px solid #ccc;
}

button {
  padding: 0.75rem 1rem;
  line-height: inherit;
  border-radius: 0;
  background-color: transparent;
}

img,
svg,
iframe,
video,
object,
embed {
  display: block;
  max-width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: rgb(63, 98, 176);
  text-decoration: none;
}

a:hover {
  color: rgb(125, 126, 126);
}

section {
  display: block;
  padding-top: 75px;
}

.container {
  width: 970px;
  margin: auto;
  padding-top: 75px;
}

.container h3,
.container h4 {
  margin: 20px 0;
  text-align: center;
}

.container h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.container h4 {
  font-size: 0.9rem;
}

.header-container,
.footer-container {
  display: flex;
  flex-direction: row;
  width: 970px;
  margin: auto;
}

header {
  width: 100%;
  background-color: #222;
  height: 8vh;
  padding: 20px;
  position: fixed;
  top: 0;
  z-index: 2;
}

header #branding {
  flex: 2;
  color: rgb(63, 98, 176);
}

header h1 {
  font-size: 2.5rem;
  font-weight: normal;
  font-family: "Dirt", cursive;
  color: #ddd;
  line-height: 35px;
  text-shadow: 1px 1px 3px #333;
}

header .menu-wrapper {
  flex: 2;
  line-height: 25px;
  text-align: right;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.hero-image {
  height: 100vh;
  background: #000 url("./assets/hero.jpg") no-repeat fixed bottom;
  background-size: cover;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.tag-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 3rem;
  font-weight: bolder;
  color: #ccc;
  text-transform: uppercase;
  opacity: 0.5;
}

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 1.05rem;
  border: none;
  outline: none;
  background-color: #222;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border-radius: 15%;
}

#topButton:hover {
  background-color: #555;
  opacity: 0.7;
}

#our-story {
  padding: 25px 0;
}

#our-story p {
  text-align: justify;
}

#gallery {
  background-color: #333;
  color: #fff;
  padding: 25px 0;
  text-align: center;
}

.gallery-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.gallery-item {
  flex: 1;
  flex-basis: 33%;
}

.gallery-description {
  margin-bottom: 20px;
}

#events {
  background-color: #eee;
  padding: 25px 0;
}

#upcoming-events-table {
  width: 100%;
  border-spacing: 10px;
  border-collapse: separate;
  margin-bottom: 20px;
}

#upcoming-events-table th {
  text-align: left;
  font-weight: bolder;
}

#contact {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
  border-radius: 15%;
}

#contact fieldset {
  width: 80%;
  margin: auto;
  background-color: #eee;
  padding: 20px;
  box-shadow: 0 0 4px #ccc;
}

#contact p {
  text-align: center;
  margin-bottom: 10px;
}

#contact input,
#contact textarea {
  margin-bottom: 20px;
  padding: 5px;
  border-radius: 5px;
}

#contact input {
  height: 40px;
}

#contact textarea {
  height: 200px;
}

#contact button {
  width: 100%;
  height: 40px;
}

#contact button:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

footer {
  background-color: #222;
  bottom: 0;
  position: relative;
  height: 100px;
}

footer .menu-wrapper {
  flex: 1;
  line-height: 30px;
  text-align: left;
}

footer nav ul li {
  display: inline-block;
  margin-right: 20px;
  padding: 0 10px;
  line-height: 100px;
}

footer #copyright {
  color: #fff;
  line-height: 100px;
}
